<link rel="stylesheet" href="/static/css/profile.css" />
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  // user's personal info
  const user_height = "<%= Math.round(user[0].height * 10) / 10 %>";
  const user_weight = "<%= Math.round(user[0].weight * 10) / 10 %>";
  const bmi =
    Math.round((user_weight / Math.pow(user_height / 100, 2)) * 100) / 100;
  const gender = "<%= user[0].gender %>";
  switch (gender) {
    case "M":
      gender_full = "Male";
      break;
    case "F":
      gender_full = "Female";
      break;
    case "O":
      gender_full = "Other";
      break;
  }

  window.onload = function () {
    document.getElementById("userHeight").innerHTML = user_height + " cm";
    document.getElementById("userWeight").innerHTML = user_weight + " kg";
    document.getElementById("userBMI").innerHTML = bmi;
    document.getElementById("userGender").innerHTML = gender_full;
  };

  var diary = `<%-JSON.stringify(diary)%>`;
  var diary_parsed = JSON.parse(diary);
  //console.log(diary_parsed);
</script>

<section class="personal-info">
  <div class="personal-info-container">
    <img src="/static/assets/profile_pic.JPG" alt="profile_pic" />
    <h3><%= user[0].firstname %> <%= user[0].lastname %></h3>
    <p><%= user[0].email %></p>
    <div class="health-statistics">
      <div class="health-statistic-card">
        <h5>Height</h5>
        <p id="userHeight"></p>
      </div>
      <div class="health-statistic-card">
        <h5>Weight</h5>
        <p id="userWeight"></p>
      </div>
      <div class="health-statistic-card">
        <h5>BMI</h5>
        <p id="userBMI"></p>
      </div>
      <div class="health-statistic-card">
        <h5>Gender</h5>
        <p id="userGender"></p>
      </div>
    </div>
  </div>
</section>

<section class="profile-content">
  <!-- statistic section -->
  <div class="summary-container">
    <h3>Statistics</h3>
    <div class="summary-content-container">
      <div id="cal-intake">
        <h4>Calories Intake</h4>
        <div id="calorieschart"></div>
      </div>
      <div id="nutrition-intake">
        <h4>Nutrition Intake</h4>
        <div id="nutritionchart"></div>
      </div>
    </div>
  </div>

  <!-- food diary section -->
  <div class="diary-container">
    <h3>Diary</h3>
    <div class="food-water-container">
      <div class="food-diary">
        <div class="diary-header">
          <h4>Food</h4>
          <button id="add-food-button" class="add-button">
            <i class="fa fa-plus" style="font-size: 15px"></i>
          </button>
        </div>

        <table>
            <% let diary_parsed = JSON.parse(JSON.stringify(diary)); %>
            <% for (let j = 0; j < diary_parsed.length; j++) { %>
              <% if (diary_parsed[j].diary_date.toString().slice(0, 10) === "2021-04-09") { %>
              <tr>
                <td><%= diary_parsed[j].food_title %></td>
                <td><%= diary_parsed[j].calories %> kcal</td>
                <td><%= diary_parsed[j].meal %></td>
              </tr>
              <% } %>  
            <% } %>  
            </tr>
        </table>

      </div>
      <div class="water-diary">
        <div class="diary-header">
          <h4>Water</h4>
          <button class="add-button">
            <i class="fa fa-plus" style="font-size: 15px"></i>
          </button>
        </div>
        <div class="diary-content">
          <div id="waterchart"></div>
          <div class="diary-content-right">
            <div class="content-wrapper">
              <h5>Consumed</h5>
              <p>1.8 L</p>
            </div>
            <span class="horizontal-separator"></span>
            <div class="content-wrapper">
              <h5>Goal</h5>
              <p>2.5 L</p>
            </div>
          </div>
        </div>
      </div>

      <!--<div class="add-diary">
        <form id="add-diary-form" method="POST" action="/dairy">
          <input type="text" placeholder="Food name" />
          <input type="date" />
          <select>
            <option value="" disabled selected>Meal</option>
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
          </select>
          <input type="number" placeholder="Calories" />
          <button>Add</button>
        </form>
      </div>-->
      
    </div>
  </div>

  <!-- water intake section -->
  <div class="water-intake">
    <h3>Saved Recipes</h3>
  </div>
</section>

<script src="/static/js/profile.js" defer></script>
